# Xcode-specific files
*.xcworkspace
*.xcuserdata/
*.xcuserdatad/
*.xcscmblueprint
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcworkspace/xcuserdata/*/*.xcuserdatad/
*.xcworkspace/xcuserdata/*/*.xcuserdatad/*.xcuserstate


# Derived data and archives
DerivedData/
*.xcarchive

# Cocoapods
Pods/

# Swift Package Manager
.swiftpm/
Package.resolved

# Carthage
Carthage/Build/
