# Xcode-specific files
*.xcworkspace
*.xcuserdata/
*.xcscmblueprint
*.xcuserstate

# Derived data and archives
DerivedData/
*.xcarchive

# Cocoapods
Pods/

# Swift Package Manager
.swiftpm/
Package.resolved

# Carthage
Carthage/Build/
